.App {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  height: 100%;
  justify-content: space-between; }
  .App a {
    text-decoration: none; }
    .App a:hover, .App a:focus {
      text-decoration: underline; }
  .App header {
    display: flex;
    justify-content: space-between;
    padding: 10px 18px 0; }
    .App header a {
      color: #000;
      padding: 0 10px; }
  .App main {
    flex: 1;
    margin-top: 70px;
    text-align: center; }
  .App footer {
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    display: flex;
    justify-content: space-between;
    padding: 0 18px; }
    .App footer a {
      color: #666;
      padding: 0 12px; }
  .App header,
  .App footer {
    line-height: 44px; }
    .App header > ul,
    .App footer > ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .App header > ul > li,
      .App footer > ul > li {
        display: inline-block; }
  .App .google-app-icon {
    opacity: 0.6;
    vertical-align: middle; }
    .App .google-app-icon:focus, .App .google-app-icon:hover {
      opacity: 1; }
  .App .cta {
    background: linear-gradient(to top, #4387fd, #4683ea);
    border-radius: 2px;
    color: #fff;
    display: block;
    font-weight: bold;
    line-height: 28px;
    margin: 10px;
    padding: 0 12px; }
    .App .cta:hover, .App .cta:focus {
      text-decoration: none; }
  .App .search input {
    border-radius: 2px;
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    font-size: 16px;
    line-height: 44px;
    margin: 25px 0;
    max-width: 484px;
    padding: 0 12px;
    width: 100%; }
    .App .search input:focus {
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
      outline: none; }
  .App .search button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    font-size: 13px;
    font-weight: bold;
    line-height: 36px;
    margin: 0 5px;
    padding: 0 16px; }
    .App .search button:focus {
      border: 1px solid #4d90fe;
      outline: none; }
    .App .search button:hover {
      border: 1px solid #c6c6c6;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
